@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Nunito:ital,wght@0,400;0,600;1,300;1,400&display=swap');




body {

  font-family: 'Baloo 2', sans-serif;


}


/* Hero banner */

.hero-banner img{
    width: 1442px;
    height: 626px; 
    margin-bottom:40px ;
   
  }
  #a-juguemos {

    background-image: url(../img/sub3\ \(1\).png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-y:3px ;
  
}

  /* Juegos populares */

 /* Seccion juegos*/ 
 #title{
    background-image: url(../img/sub3\ \(1\).png) !important;
    background-repeat: no-repeat;
    background-position-y:70px ;
    background-position-x:100px;
    text-align: start;
    padding: 60px;
 } 

 #juegos-online{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
    gap: 25px;
    padding:  4px;
    margin-left: 50px;
 }

  #juegos-online h3{
    text-align: center;
  }

  #juegos-online article{
    width: 230px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(39, 50, 55, 0.55);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5px;  

}  

    #portada-de-juego{
        width: 100%;
        justify-content: center;
        border-radius: 10px;
        padding-right: 5px;
        padding-top: 5px;
    }

    #juegos-online article h3{
        font-size: 20px;
        font-weight: 400;
        text-align: start;
        width: 100%;
        
    }

    .btn{
        width: 100%;         
        margin-left: 160px;
        
    }

    .info{    
        background-color: #97BC59;
        color: #ffffff;
        border-radius: 8px;
       
    }

    .rating{
        width: 100%;
    }
