/*STYLE GENERAL  */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

header {
    width: 100%;
    position: absolute;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    

} 


#logo {
    width: 120px;
    height: 40px;
    

}

#buscador {
    margin-right: 50px;
    width: 20px;
    height: 20px;
}


a {
    text-decoration: none;
    color:black;
    padding: 0px 10px;


}

<<<<<<< HEAD
#a-inicio{
=======
#a-inicio {
>>>>>>> 22caa877fd2afe3a575b13a87a30e517a1c24f36
    background-image: url(../img/Vector\ \(1\).png);
    background-repeat: no-repeat;
    background-position-y:3px ;
    background-position-x:10px;
    
    
}

#barra-de-navegacion a {
    font-weight: 600;
    font-size: 17px;
    align-items: center;
    justify-content: space-between;
}

/*estilos footer*/
footer{
    width: 1080px;
    height: 65vh;
    font-family: 'Baloo 2', sans-serif;
    margin-top: 100px;
    display: block;
    align-items: center;
    padding:  4px;
    margin-left: 70px;
  }
  
  
  .footerAnimalitos img {
    /* width: 1080px; */
    width: 85vw; 
    height: 55vh;
    
  }


  .informacionFooter{
     margin-top: 78px;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center; 
    
  }
  .logo-footer{
    width: 220px;
    height: 75px;
    padding-bottom: 19px;
  }
  
  .informacionFooter .seguinos{
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;

  }
  

  .informacionFooter .redes img{
    width: 35px;
    height: 35px;
    margin: 10px 10px; 
  }
  
  .informacionFooter .derechosReservados{
    font-weight: lighter;
    font-size: 12px;
    padding-bottom: 19px;
  
  }





    