@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Nunito:ital,wght@0,400;0,600;1,300;1,400&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
  
  font-family: 'Baloo 2', sans-serif;
}

/*ESTILO DE HEADER*/

header {
    width: 1420px; ;
    height: 142px;
    text-align: center;
    margin: 36px 100px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}

#logo {
    width: 220px;
    height: 90px;
    margin-left: 30px;

}

#buscador {
    margin-right: 30px;
    width: 35px;
    height: 38px;
}


a {
    text-decoration: none;
    color:black;
    padding: 0px 13px;

}

#a-inicio {
    background-image: url(img/Vector\ \(1\).png);
    background-repeat: no-repeat;
    background-position-y:7px ;
    
}

#barra-de-navegacion a {
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
}

.hero-banner{
  width: 1420px;
  height: 626px; 
  margin-bottom:40px ;
}
/*estilos body*/

#como_funciona{
  height: 494px;
  width: 1420px;
  align-items: center;
  display: flex;
  margin: 180px 0px 73px 100px ;
}


#texto{
  width: 484px;
  height: 379px;
  margin:0px 179px 0px;
}
  #texto h2{
      font-size: 48px;
  }
  #texto p{
      font-size: 32px;
  }
#apartados{
  width: 450px;
  height: 380px;
  padding: 0;
}
#apartados a img{
  width: 184px;
  height: 163px;
  margin-bottom: 42px ;

}
#animalitos{
    background-image: url(img/animalitos.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 300px;
    
}
.tarjetas{
  margin:0px 283px 20px 100px ;
}

.tarjetas h2{
  margin-bottom: 33px ;
  font-size: 36px;
}

#juegos a img{
  width: 295px ;
  height: 409px;
}
#cuentos a img{
  width: 344px ;
  height: 348px;
}
.subrayado1{
  background-image: url(img/sub1.png);
  background-repeat: no-repeat;
  background-position-x: 130px ;
  background-position-y: 20px;
}
.subrayado2{
  background-image: url(img/sub2.png);
  background-repeat: no-repeat;
  background-position-x: 20px ;
  background-position-y: 20px;
}
.subrayado3{
  background-image: url(img/sub3.png);
  background-repeat: no-repeat;
  background-position-x: 40px ;
  background-position-y: 20px;
}
.subrayado4{
  background-image: url(img/sub4.png);
  background-repeat: no-repeat;
  background-position-x: 30px ;
  background-position-y: 20px;
}

/*cards video*/
.container-video{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-video{
  height: 250px;
  width: 420px;
  box-shadow: 5px 5px 10px black;
  margin: 0 50px 0 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: .5s;
  position: relative;
  border-radius: 10px;
}

.card-video .intro-video{
  height: 0;
  width: 420px;
  padding-left: 15px;
  position: absolute; 
  box-sizing: border-box;
  color: black;
  background-color: rgb(255, 255, 255, .7);
  bottom: 0;
  transition: .5s;
  display: flex;

}

.card-1{
  background-image: url(./img/video-1.png);
}

.card-2{
  background-image: url(./img/video-2.png);
}

.card-3{
  background-image: url(./img/video-3.png);
}

.card-video:hover{
  transform: scale(1.1);
}

.card-video:hover .intro-video{
  height: 100px;
  width: 420px;
  bottom: 0;

}

.card-video:hover .intro-video a, 
.card-video:hover .intro-video .text{
 opacity: 1;
 visibility: visible;
}


.card-video .intro-video .text{
 width: 230px;
}

.card-video .intro-video a{
  width: 50px;
  height: 50px;
} 

.card-video:hover .intro-video a{
  transform: translateY(-50%);
}

/*estilos footer*/
footer{
  width: 1420px;
  height: 1164px;
  font-family: 'Baloo 2', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center ;
}


.footerAnimalitos img{
  width: 1420px;
  height: 591px;
}

.informacionFooter{
   margin-top: 78px;
   width: 1420px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center; 
   background-image: url(img/bgi-footer.png);
   background-position-x: 60px ;
   background-size: contain;
   background-repeat: no-repeat;
}
.logo-footer{
  width: 487px;
  height: 138px;
  padding-bottom: 19px;
}

.informacionFooter .seguinos{
  font-weight: bold;
  font-size: 23px;
}

.informacionFooter .redes img{
  width: 68.35px;
  height: 73px;
  margin: 20px 20px;
}

.informacionFooter .derechosReservados{
  font-weight: lighter;
  font-size: 20px;
  margin-top: 100px;
}