@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Nunito:ital,wght@0,400;0,600;1,300;1,400&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
  width: 1920px;
  font-family: 'Baloo 2', sans-serif;
}

/*ESTILO DE HEADER*/

header {
 
    height: 167px;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}

#logo {
    width: 347px;
    height: 104px;
    margin-left: 30px;

}

#buscador {
    margin-right: 30px;
}


a {
    text-decoration: none;
    color:black;

}

#a-inicio {
    background-image: url(img/Vector\ \(1\).png);
    background-repeat: no-repeat;
    padding: 0 20px 15px 0;
    
}

#barra-de-navegacion a {
    margin: 10px;
    font-weight: 600;
}

/*estilos body*/

  
#como_funciona{
  height: 866px;
  width: 1920px;
  justify-content: space-between;
  align-items: center;
  display
  : flex;

}

#texto{
  width: 748px;
  height: 685px;
  margin: 73px 60px;

}
  #texto h2{
      font-size: 65px;
  }
  #texto p{
      font-size: 45px;
  }
#apartados{
  margin: 242px 237px 43px  ;

}
#apartados a img{
  width: 303px;
  height: 268px;
  margin-bottom: 92px ;
  margin-left: 44px;
}

.targetas{
  margin:66px 84px 219px 113px ;
}
.targetas div{
  display: flex;
  

}
.targetas h2{
  width: 1920px;
  margin-bottom: 150px ;
  font-size: 65px;
}
.targetas a img{
  width: 450px;
  height: 412px;
  margin: 62px ;
}

#cuentos a img{
  width: 477px ;
  height: 544px;
}

#juegos a img{
  width: 484px ;
  height: 670px;
}


/*estilos footer*/
footer{
  width: 99vw;
  font-family: 'Baloo 2', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.footerAnimalitos{
  width: 99vw;
  height: 370px;

}

.footerAnimalitos img{
  width: 700px;
  height: 300px;
}

.informacionFooter{
   margin-top: 45px;
   width: 1024px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center; 
  
}
.informacionFooter img{
  width: 220px;
  padding-bottom: 25px;
}

.informacionFooter .seguinos{
  font-weight: bold;
  font-size: 18px;
}

.informacionFooter i{
  font-size: 60px;
  margin: 15px 20px;
}

.informacionFooter .derechosReservados{
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
}