@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Nunito:ital,wght@0,400;0,600;1,300;1,400&display=swap');


footer{
  width: 99vw;
  font-family: 'Baloo 2', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  align-items: center ;
=======
  align-items: center;
>>>>>>> 9db1fea69861db537d17f16840f605c0865671ee
}

.footerAnimalitos{
  width: 99vw;
  height: 370px;

}

.footerAnimalitos img{
  width: 700px;
  height: 300px;
}

.informacionFooter{
   margin-top: 45px;
<<<<<<< HEAD
   width: 1024px;
=======
   width: 1094px;
>>>>>>> 9db1fea69861db537d17f16840f605c0865671ee
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center; 
  
}
.informacionFooter img{
  width: 220px;
  padding-bottom: 25px;
}

.informacionFooter .seguinos{
  font-weight: bold;
  font-size: 18px;
}

.informacionFooter i{
  font-size: 60px;
  margin: 15px 20px;
}

.informacionFooter .derechosReservados{
  font-weight: lighter;
  font-size: 16px;
  margin-top: 10px;
}