@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    width: 1920px;
    font-family: 'Playpen Sans', sans-serif;
}
#como_funciona{
    height: 866px;
    width: 1920px;
    justify-content: space-between;
    align-items: center;
    display
    : flex;

}

#texto{
    width: 748px;
    height: 685px;
    margin: 73px 60px;

}
    #texto h2{
        font-size: 65px;
    }
    #texto p{
        font-size: 45px;
    }
#apartados{
    margin: 242px 237px 43px  ;

}
#apartados a img{
    width: 303px;
    height: 268px;
    margin-bottom: 92px ;
    margin-left: 44px;
}

.targetas{
    margin:66px 84px 219px 113px ;
}
.targetas div{
    display: flex;
    

}
.targetas h2{
    width: 1920px;
    margin-bottom: 150px ;
    font-size: 65px;
}
.targetas a img{
    width: 450px;
    height: 412px;
    margin: 62px ;
}

#cuentos a img{
    width: 477px ;
    height: 544px;
}

#juegos a img{
    width: 484px ;
    height: 670px;
}